################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TrajectorySimulation/TrajectorySimulation.sln
/TrajectorySimulation/TrajectorySimulation/TrajectorySimulation.csproj
/TrajectorySimulation/TrajectorySimulation/obj/TrajectorySimulation.csproj.nuget.g.targets
/TrajectorySimulation/TrajectorySimulation/obj/TrajectorySimulation.csproj.nuget.g.props
/TrajectorySimulation/TrajectorySimulation/obj/TrajectorySimulation.csproj.nuget.dgspec.json
/TrajectorySimulation/TrajectorySimulation/obj/TrajectorySimulation.csproj.nuget.cache
/TrajectorySimulation/TrajectorySimulation/obj/project.assets.json
/TrajectorySimulation/TrajectorySimulation/obj/Debug/netcoreapp3.0/TrajectorySimulation.csprojAssemblyReference.cache
/TrajectorySimulation/TrajectorySimulation/obj/Debug/netcoreapp3.0/TrajectorySimulation.assets.cache
/TrajectorySimulation/TrajectorySimulation/obj/Debug/netcoreapp3.0/TrajectorySimulation.AssemblyInfoInputs.cache
/TrajectorySimulation/TrajectorySimulation/obj/Debug/netcoreapp3.0/TrajectorySimulation.AssemblyInfo.cs
/TrajectorySimulation/.vs/TrajectorySimulation/v16/Server/sqlite3/storage.ide
/TrajectorySimulation/.vs/TrajectorySimulation/v16/Server/sqlite3/db.lock
/TrajectorySimulation/.vs/TrajectorySimulation/v16/.suo
/TrajectorySimulation/.vs/TrajectorySimulation/DesignTimeBuild/.dtbcache
/DataDefence/DataDefence.sln
/DataDefence/DataDefence/obj/project.assets.json
/DataDefence/DataDefence/obj/Debug/netcoreapp3.0/DataDefence.assets.cache
/DataDefence/DataDefence/obj/Debug/netcoreapp3.0/DataDefence.AssemblyInfoInputs.cache
/DataDefence/DataDefence/obj/Debug/netcoreapp3.0/DataDefence.AssemblyInfo.cs
/DataDefence/DataDefence/obj/DataDefence.csproj.nuget.g.targets
/DataDefence/DataDefence/obj/DataDefence.csproj.nuget.g.props
/DataDefence/DataDefence/obj/DataDefence.csproj.nuget.dgspec.json
/DataDefence/DataDefence/obj/DataDefence.csproj.nuget.cache
/DataDefence/DataDefence/DataDefence.csproj
/DataDefence/.vs/DataDefence/v16/Server/sqlite3/storage.ide
/DataDefence/.vs/DataDefence/v16/Server/sqlite3/db.lock
/DataDefence/.vs/DataDefence/v16/.suo
/DataDefence/.vs/DataDefence/DesignTimeBuild/.dtbcache
/ClassBreackdown/ClassBreackdown.sln
/ClassBreackdown/ClassBreackdown/obj/project.assets.json
/ClassBreackdown/ClassBreackdown/obj/Debug/netcoreapp3.0/ClassBreackdown.assets.cache
/ClassBreackdown/ClassBreackdown/obj/Debug/netcoreapp3.0/ClassBreackdown.AssemblyInfoInputs.cache
/ClassBreackdown/ClassBreackdown/obj/Debug/netcoreapp3.0/ClassBreackdown.AssemblyInfo.cs
/ClassBreackdown/ClassBreackdown/obj/ClassBreackdown.csproj.nuget.g.targets
/ClassBreackdown/ClassBreackdown/obj/ClassBreackdown.csproj.nuget.g.props
/ClassBreackdown/ClassBreackdown/obj/ClassBreackdown.csproj.nuget.dgspec.json
/ClassBreackdown/ClassBreackdown/obj/ClassBreackdown.csproj.nuget.cache
/ClassBreackdown/ClassBreackdown/ClassBreackdown.csproj
/ClassBreackdown/.vs/ClassBreackdown/v16/Server/sqlite3/storage.ide-wal
/ClassBreackdown/.vs/ClassBreackdown/v16/Server/sqlite3/storage.ide-shm
/ClassBreackdown/.vs/ClassBreackdown/v16/Server/sqlite3/storage.ide
/ClassBreackdown/.vs/ClassBreackdown/v16/Server/sqlite3/db.lock
/ClassBreackdown/.vs/ClassBreackdown/v16/.suo
